html {
  scroll-behavior: smooth;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
input:focus,textarea:focus{
  outline: none;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.btn {
  display: inline-block;
}

.btn a {
  display: inline-block;
  border: 1px solid #6eeada;
  color: #6eeada;
  padding: 5px;
  border-radius: 5px;
}

.btn:hover a {
  background-color: #6eeada;
  color: #413e3e;
}

a {
  text-decoration: none;
  color: initial;
  font-family: 'Rajdhani', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  margin-left: 60px;
  background-color: #2A2A2B;
}

h1+.h1 {
  display: inline;
  padding-left: 0;
}


.deco {
  display: block;
  font-size: 20px;
  color: #4e4e50;
  font-family: 'La Belle Aurore';
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

h1 {
  color: #6eeada;
  font-family: 'Acme', monospace;
  font-size: 3.5em;
  font-weight: normal;
  display: inline-block;
}

p {
  color: white;
  font-size: 1.1em;
  font-weight: 150;
  font-family: 'Lato'
}
p+p{
  margin-top: 10px;
}
#apropos p:last-of-type{
  margin-left: 60px;
}
a i {
  color: #4e4e50;
}

section a {
  color: white;
}

a:hover, a:hover i {
  color: #6eeada;
}

/*  liens de navigation*/
nav {
  position: fixed;
  left: 0;
  width: 60px;
  background-color: #101010;
  height: 100%;
}

.linkcontainer {
  display: inline-block;
}

nav span {
  color: #6eeada;
  display: none;
}

nav li:hover i {
  display: none;
}

nav li:hover span {
  display: inline;
}

nav ul {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
}

nav ul li {
  width: 60px;
  height: 60px;
}

nav ul li>a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}

nav ul li a i {
  font-size: 140%;
}

/* liens reseaux sociaux */
#lkext {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

#lkext li {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}

#lkext li a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 40px;
}

#lkext li a i {
  font-size: 110%;
  color: #9a9094;
}

#lkext li a:hover i {
  color: #6eeada;
}

/* fleches */
#fleches {
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 1001;
}

#fleches li {
  width: 25px;
  height: 25px;
}

#fleches li+li {
  margin-top: 30px;
}

#fleches li a {
  display: block;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  background-color: #6eeada;
}

#fleches li a:hover i {
  color: #6eeada;
}

#fleches a:hover {
  background-color: #2A2A2B;
}

/* fin de fleches */
/* fin des liens de navigation */
/* logo */
#logo {
  position: fixed;
  width: 60px;
  height: 70px;
  background-color: black;
  text-align: center;
  line-height: 70px;
  z-index: 1000;
}

#logo i {
  font-size: 2em;
  color: #6eeada;
}

/* fin du logo */
/* mise en forme des deco */
.html {
  padding-left: 20px;
  margin-bottom:
}

.html:first-child {
  margin-bottom: 40px;
}

.html+.body {
  margin-bottom: 40px;
}

.body {
  padding-left: 35px;
}

.h1 {
  padding-left: 60px;
}

.h1+h1 {
  padding-left: 60px;
}

.h1+p, .h1+p+p {
  padding-left: 60px;
}

.body2 {
  margin-top: 50px;
}

/* fin des deco */
section {
  height: 100vh;
  width: 100vw;
}

section:not(#portfolio)>* {
  width: 50vw;
  height: 100vh;
  display: inline-block;
}

section:not(#portfolio)>div:first-child {
  float: left;
}

/* section:not(#portfolio)>div:last-child{
  float: right
} */
#acceuil {
  overflow: hidden;
}

#acceuil h1 {
  font-size: 3.2em;
  color: white;
}

/* section acceuil */
.image {
  text-align: center;
}

#acceuil>div.image {
  padding-top: 180px;
}

#acceuil>div:last-child div img {
  width: 300px;
  display: inline-block;
  border-radius: 50%;
  border-top: 5px solid gray;
  border-right: 5px solid #6eeada;
  border-bottom: 5px solid gray;
  border-left: 5px solid #6eeada;
}
#acceuil .btn {
  margin-left: 60px;
  text-align: center;
  margin-top: 20px;
}

#acceuil small {
  font-size: 15px;
  font-family: 'Inconsolata';
  font-weight: lighter;
  color: #6c6c6b;
}

.body2+.html {
  margin-top: 100px;
}

/* fin de section acceuil... Enfin!!! */
/* section a propos */
#apropos {
  overflow: hidden;
}

#apropos>div:first-child {}

.image {
  text-align: center;
}

#apropos>div.image {
  padding-top: 80px;
}

#apropos>div.image div {
  display: inline-block;
  height: 450px;
  width: 450px;
}

#apropos>div:last-child div img {
  width: 410px;
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
  border-top: 5px solid gray;
  border-right: 5px solid #6eeada;
  border-bottom: 5px solid gray;
  border-left: 5px solid #6eeada;
}

/* fin de apropos...pour l'instant */
/* section skills */
#skills>div:first-child {}

#skills>div:last-child {
  text-align: center;
  position: relative;
}

#skills div.image {
  position: relative;
  top: 80px;
}

.skills {
  display: inline-block;
  font-size: 3em;
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 5px;
  line-height: 60px;
  transition: all 0.5s 0.1s;
}

#skills i {
  border: 1px solid cyan;
}

#skills i:hover {
  background: gray;
  color: white;
  border: none;
}

.cercle1 {
  border: 2px dashed gray;
  border-radius: 50%;
  height: 70%;
  width: 70%;
  max-width: 450px;
  max-height: 450px;
  display: inline-block;
}

.cercle2 {
  border: 2px solid gray;
  height: 70%;
  width: 70%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  display: inline-block;
}

/* premier cercle */
.cercle1>i {
  position: relative;
}

.cercle1>i:nth-child(4) {
  font-size: 40px;
}

.cercle1>i:nth-child(1), .cercle1>i:nth-child(4) {
  top: -5px;
}

.cercle1>i:nth-child(2) {
  top: 300px;
  left: -150px;
}

.cercle1>i:nth-child(3) {
  top: 300px;
  right: -150px;
}

/* fin du cercle 1
/* cercle 2 */
.cercle2 i {
  position: relative;
}

#skills .cercle2>i:nth-child(4) {
  border: 1px solid cyan;
  background-color: initial;
  color: cyan;
  top: 25px;
  width: 100px;
  height: 100px;
  line-height: 90px;
}

.cercle2 i:nth-child(1) {
  top: 60px;
  left: -55px;
}

.cercle2 i:nth-child(2) {
  top: 270px;
}

.cercle2 i:nth-child(3) {
  top: 60px;
  right: -55px;
}

/* fin des skills... enfin! */
#portfolio .html {
  margin-bottom: 0;
}

#portfolio .body {
  margin-bottom: 0;
}

#portfolio .content {
  width: 95%;
  overflow: auto;
  text-align: center;
}

.reali {
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid white;
  width: 30%;
  min-height: 200px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  min-width: 200px;
  min-height: 150px;
}

.reali .infos {
  height: 200px;
  color: white;
  padding-top: 30px;
  position: relative;
}

.reali:nth-child(n+4) .infos {
  bottom: -300px;
  transition: all 0.5s 0.1s;
}

.reali .infos {
  bottom: 300px;
  transition: all 0.5s 0.1s;
}

.reali .infos h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.reali:nth-child(1) {
  background: url('../img/proxima.png') no-repeat;
  background-size: cover;
}

.reali:nth-child(2) {
  background: url('../img/deshi.png') no-repeat;
  background-size: cover;
}

.reali:nth-child(3) {
  background: url('../img/githun.png') no-repeat;
  background-size: cover;
}

.reali:nth-child(4) {
  background: url('../img/myga.png') no-repeat;
  background-size: cover;
}

.reali:nth-child(5) {
  background: url('../img/qcm.png') no-repeat;
  background-size: cover;
}

.reali:nth-child(6) {
  background: url('../img/lettre.png') no-repeat;
  background-size: cover;
}

.reali:first-child .infos {
  background-color: #4e0357;
}

.reali:nth-child(2) .infos {
  background-color: #0a7969;
}

.reali:nth-child(3) .infos {
  background-color: #025912;
}

.reali:nth-child(4) .infos {
  background-color: #024259;
}

.reali:nth-child(5) .infos {
  background-color: #d1da66;
}

.reali:nth-child(6) .infos {
  background-color: #743030;
}

.reali:hover .infos {
  bottom: 0;
}

#portfolio .btn {
  width: 180px;
  margin-top: 10px;
}

#portfolio .btn a {
  border: 2px solid #141617;
  color: #141617;
  border-radius: 5px;
}

#portfolio .btn a:hover {
  background-color: white;
  border: 1px solid white;
}

/* fin des realisations */
/* section contact */
#contact div.map {
  position: relative;
}

#map {
  width: 100%;
  height: 660px;
}

.map .texte {
  position: absolute;
  z-index: 2;
  background: rgba(51, 46, 46, 0.9);
  width: 220px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  top: 50px;
  left: 50px;
}
#contact .map .texte a{
  text-decoration: underline;
}
#contact form {
  margin-left: 60px;
}
input[required]{
  border: none;
  border-bottom: 2px solid red;
}

#contact input {
  height: 40px;
  background: initial;
  border: initial;
  display: block;
  margin-top: 5px;
  background-color: rgba(139, 140, 143, 0.3);
  font-size: 1.5em;
  padding: 0;
  transition: all 0.5s 0.1s;
}
#contact textarea{
  color: white;
    background: initial;
    border: initial;
    margin-top: 5px;
    background-color: rgba(139, 140, 143, 0.3);
    transition: all 0.5s 0.1s;
}

#contact input:first-child {
  width: 200px;
  border-bottom: ;
}

#contact input:focus,#contact textarea:focus{
  background: none;
  color: white;
  border-bottom: 2px solid cyan;
}

#contact input:last-child {
  display: none;
}

#contact label {
  display: block;
  margin-top: 5px;
  height: 60px;
  width: 70px;
  overflow: hidden;
}

#contact label i {
  display: inline-block;
  color: cyan;
  font-size: 2em;
  transition: all 0.5s 0.5s;
  transform: rotate(90deg);
}

#contact label span {
  color: cyan;
  position: relative;
  right: -70px;
  transition: all 0.7s 0.1s;
  display: block;
  margin-top: 5px;
}

#contact label:hover span {
  right: 0;
}
/* fin de la section contact */
/* pied de page */
footer{
  position: fixed;
  bottom: 5px;
  left: 45%;
  z-index: 1000;
  color: gray;
  font-size: 1.1em;
}
