@font-face {
  font-family: "Futura light";
  src: url('../fonts/futura-light.ttf');
}

/* reglages de base */
* {
  box-sizing: border-box;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Futura light', sans-serif;
  color: #70686F;
}
a{
  text-decoration: none;
  color: inherit;
}

h2 {
  color: initial;
  font-weight: lighter;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  list-style-type: none;
}

/* fin des reglages de base */
/* tete de page */
nav {
  height: 28px;
}

nav ul a {
  text-transform: uppercase;
  color: #CCCCCD;
  font-size: 12px;
}

nav li.active a {
  color: #605E5E;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 5px;
}

nav ul li+li {
  margin-left: 30px;
}

header .banner {
  height: 300px;
  background: url(../img/banner-mybermudes.png);
  background-position: center;
}

.banner h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 2.5rem;
  padding-top: 20px;
  font-weight: 100;
  color: #000;
}

.banner h1 span{
  font-weight: 400;
}

/* contenu principal de la page */
main {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  overflow-x: hidden;
}

/* main sextion */
main section {
  flex-grow: 2;
  margin-right: 40px;
}

/* stylke des articles */
/* style des categories */
.categorie {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: -1px;
  padding: 2px 10px;
  border: 1px solid #000;
  color: #706F6F;
  font-size: 0.9em;
}

/* titre  */
.art-heading h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 20px;
}

.art-date {
  display: block;
  margin-bottom: 15px;
  color: initial;
}

main article+article {
  margin-top: 60px;
}

.art-extrat {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 20px;
}

.rd-more {
  color: inherit;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 0.8em;
  display: block;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.pagination {
  margin-top: 25px;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.pagination ul li {
  border: 1px solid;
  padding: 8px 12px;
}

.pagination ul li+li {
  margin-left: 10px;
}



.pagination ul li.active {
  color: #c1b6b6;
  border-color: #c1b6b6;
}

/* aside section */
body>section aside {
  flex-grow: 1;
  min-width: 320px;
}

aside section {
  padding-right: 10px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo-text {
  font-size: 1rem;
  font-weight: 300;
}

.logo-text span{
  font-weight: 400;
}

.logo+h2 {
  margin-bottom: 20px;
}

.logo+h2+p {
  margin-bottom: 35px;
}

.author-details h2 {
  text-align: center;
  font-size: 0.7rem;
}

.author-details>p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 20px;
}

.social-network p {
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: #000;
  text-align: center;
}

.social-network ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-network ul li {
  height: 25px;
  width: 25px;
  background: #000;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-network ul li:last-child {
  background: #fff;
  padding-top: 2px;
}

.social-network ul li i {
  color: #fff;
  font-size: 14px;
}

.social-network ul li img {
  width: 27px;
}

.social-network ul li+li {
  margin-left: 15px;
}

.author-details {
  border-bottom: 1px solid lightgray;
}

.last-news {
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.last-news h2, .archive h2 {
  font-size: 16px;
  font-weight: 600;
}

.art-banner-mini {
  width: 70px;
  height: 47px;
  overflow: hidden;
  margin-block-start: 0;
  margin-block-end: 0;
}

.art-banner-mini img {
  height: 100%;
  width: 100%;
}

.last-news article {
  display: flex;
  margin: 15px 0;
}

.last-news .art-det {
  padding-left: 20px;
}

.last-news .art-det h3{
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 12px;
}
/* archive part */

.archive ul {
  padding-top: 10px;
  line-height: 25px;
}

.archive ul li{
  color: #000;
  font-size: 12px;
}

/* footer */
footer {
  background: #000;
  min-height: 260px;
  padding: 15px;
  font-weight: 100;
}

.foot-text {
  text-align: center;
  color: white;
}

.foot-text  p > .logo-text {
  font-size: 1.4em;
  letter-spacing: 10px;
}

footer small {
  font-size: 0.8em;
}

footer small .logo-text {
  font-size: 0.9em;
  font-weight: 100;
}

.img-multi ul {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 0 15px;
  overflow: hidden;
  margin: 0 auto;
}

.img-multi ul li {
  background: #fff;
  width: 160px;
  height: 160px;
}

.img-multi ul li:first-child {
  background: url(../img/noel-bermudes.jpg);
  background-size: 100%;
}

.img-multi ul li:nth-child(2) {
  background: url(../img/bracelet-bermudes.jpg);
  background-size: 100%;
}

.img-multi ul li:nth-child(3) {
  background: url(../img/cartes-bermudes.jpg);
  background-size: 100%;
}

.img-multi ul li:nth-child(4) {
  background: url(../img/bracelets3-bermudes.jpg);
  background-size: 100%;
}

.img-multi ul li:nth-child(5) {
  background: url(../img/bracelet2-bermudes.jpg);
  background-size: 100%;
}

.img-multi ul li:nth-child(6) {
  background: url(../img/collier-bermudes.jpg);
  background-size: 100%;
}
