@font-face {
  font-family: 'Motionpic';
  src: url(../font/motionpicture.ttf);
  font-weight: bold;
}

/*reglage de mesures*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Merriweather'
}

.center {
  padding-left: 15%;
  padding-right: 15%;
}

.border>* {
  border: 1px solid red;
  margin: 5px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* tete de page */
/* liens de navigation */
header>div:first-child {
  display: flex;
  color: white;
}

header>div:first-child>* {
  width: 50%;
}

header ul {
  display: flex;
  font-family: sans-serif;
}

header>div:first-child address ul {
  justify-content: flex-end;
}

header address li+li {
  margin-left: 5px;
}

header address li:last-child {
  margin-left: 30px;
}

header nav li+li {
  margin-left: 30px;
}

nav li, address li {
  font-size: 11px;
  font-weight: 600;
  padding-top: 13px;
  padding-bottom: 13px;
}

header div:first-child {
  background-color: #4ccbb2;
}

h1+nav {
  color: #878787;
}

/* titre */
header h1 {
  text-align: center;
  font-family: 'Motionpic';
  font-size: 3em;
  padding: 10px;
  color: #878787;
  border-bottom: 1px solid #e2dede;
}

header h1 span {
  color: #4ccbb2;
  font-family: inherit;
}

/* fin du header */
/* bannier de la page */
.galery {
  height: 140px;
  width: 220px;
  color: white;
}

.galery h1 {
  font-size: 13px;
}

.galery small {
  font-size: 0.7em;
}

main>section:first-child {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/fond-top.jpg') no-repeat;
  background-size: cover;
  color: white;
}

section:first-child .galery, section:nth-child(2) .galery {
  background: url('../img/vignette.png') no-repeat;
  background-size: cover;
}

section:first-child>* {
  width: 100%;
}

section:first-child>article {
  padding-top: 80px;
  padding-bottom: 80px;
}

section:first-child>article:first-child h1 {
  font-size: 2.5em;
}

section:first-child>div {
  display: flex;
  justify-content: space-between;
}

section .galery {
  padding: 10px;
}

section:first-child>div article {}

/* fin de la banniere */
section:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section:nth-child(2) div:first-child {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

section:nth-child(2) div:first-child h1 {
  font-size: 13px;
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1+hr {
  width: 55px;
  border: 1px solid #4ccbb2;
}

section:nth-child(2)>article {
  width: 50%;
  height: auto;
}

section:nth-child(2) article+article {
  margin-top: 20px;
}

/* fin de la deuxieme section */
section:nth-child(3) {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

section:nth-child(3)>div:first-child {
  margin-right: 20px;
  text-align: center;
}

section:nth-child(3)>div:first-child img {
  display: block;
  height: 400px;
  overflow: hidden;

}

section:nth-child(3)>div:first-child h1 {
  font-size: 2em;
}

/* fin de la troisieme section */
section:nth-child(4)>article {
  padding-top: 10%;
  padding-bottom: 10%;
}

section:nth-child(4)>article h1 {
  font-size: 2.5em;
}

section:nth-child(4)>div {
  display: flex;
  flex-wrap: wrap;
}

section:nth-child(4)>div article {
  width: 50%;
  overflow: auto;
  height: 15em;
}

section:nth-child(4)>div article img {
  display: block;
  width: 45%;
  height: 100%;
  float: left;
}

section:nth-child(4)>div small {
  display: block;
}

section:nth-child(4)>div article div {
  width: 55%;
  display: inline-block;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
img{
  background: url('../img/fond-top.jpg') no-repeat;
  background-size: contain;
}
/* fin de la derniere section */
/* pied de page */
footer {
  display: flex;
  background-color: black;
  color: gray;
}

footer>* {
  width: 50%;
}

footer small {
  display: block;
  padding-top: 20px;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer ul li+li {
  margin-left: 20px;
}

footer ul li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
