@font-face{
    font-family: Motionpic;
    src: url(../font/motionpicture.ttf);
    font-weight: bold;
}
/*reglage de mesures*/
body{
    max-width: 1400px; 
    margin: auto;
}

*{
    padding: 0;
    margin: 0;
}
.marg-l-10{
    margin-left: 10px;
}.marg-l-30{
    margin-left: 30px;
}
header a, footer a{
    text-decoration: none;
}
/*positionnement*/
.center{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
}
.inline-link{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-size: small;
    font-family: Montserrat;
    font-weight: bold;
}

.banners{
    width: 49.8%;
    display: inline-block;
    padding: 12px 0;
}

/*formatage*/
.bord-t-gray{
    border-top: 1px solid gray;
}
.color-white{
    color: white;
}
.color-gray{
    color: gray;
}
.color-cyan{
    color: #00bf9a; 
}
.theme{
    display: inline-block;
    width: 65px; 
    height: 25px;
    background-color: #00bf9a;
    border-radius: 15px;
    margin-bottom: 15px;
    line-height: 25px;
    font-size: small;
    text-align: center;
}
.article-info{
    font-size: 0.7em;
    font-weight: bold;
}
.section1-list{
    margin-left: 15px;
    padding: 90px 6px 12px;
    display: inline-block;
    background: url(../img/vignette.png) no-repeat;
    background-size: contain;
}


.section-part{
    height: 50%;
}

.border {
    border: 1px solid;
}

.bg-cyan {
    background-color: #00bf9a;
}
.banner-fix {
    height: 40px;
    line-height: 20px;
}


.text-center {
    text-align: center;
}

.height-40 {
    height: 40px;
    line-height: 40px
}

.height-50 {
    height: 60px;
    line-height: 60px;
}

.marg-l-0 {
    margin-left: 0;
}

.section1 {
    height: 580px;
    background: url(../img/fond-top.jpg) no-repeat;
    background-size: 100%;
}

.pad-t-50{
padding-top: 50px;
}

.relative {
    position: relative;
}

.absolute-b {
    position: absolute;
    bottom: 50px;
}

.titre {
    font-size: 3em;
}

.right {
    text-align: right;
}

.bg-black {
    background-color: #231e1f;
}

.foot-part {
    display: inline-block;
    width: 49%;
    max-width: 500px;
}



.font-motion {
    font-family: motionpic, cursive;
}
.font-montserrat{
    font-family: Montserrat;
}
.bg-cyan * a{
    color: white;
}

nav#nav2 *,.bg-black * a  {
    color: gray;
}

.copyright {
    font-weight: initial;
    font-size: 0.6em
}



.fixed-foot {
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
