.page-gallery__works {
  margin-bottom: -1px;
}
.page-gallery__works #isotopeContainer {
  margin: 0 !important;
}
.page-gallery__works #isotopeContainer > li {
  margin: 0 !important;
  padding: 0 !important;
}
.page-gallery__works #isotopeContainer > li .gallery-item__content {
  line-height: 0;
}
.page-gallery__works #isotopeContainer > li .item_img {
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}
.page-gallery__works #isotopeContainer > li .item_img .item_header {
  background: #43cbcb;
  padding: 15px 30px 14px 19px;
  position: absolute;
  left: 0;
  bottom: -100px;
  right: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.page-gallery__works #isotopeContainer > li .item_img .item_title {
  color: white;
  margin-bottom: 0;
}
.page-gallery__works #isotopeContainer > li .item_img .item_title a {
  color: white;
  display: block;
}
.page-gallery__works #isotopeContainer > li .item_img .item_title a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.page-gallery__works #isotopeContainer > li .item_img .articleGalleryZoom,
.page-gallery__works #isotopeContainer > li .item_img .galleryZoomIcon {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.page-gallery__works #isotopeContainer > li .item_img .articleGalleryZoom:after,
.page-gallery__works #isotopeContainer > li .item_img .galleryZoomIcon:after {
  right: -20px;
}
.page-gallery__works #isotopeContainer > li .item_img:hover .item_header {
  bottom: 0px;
}
.page-gallery__works #isotopeContainer > li .item_img:hover .articleGalleryZoom:after,
.page-gallery__works #isotopeContainer > li .item_img:hover .galleryZoomIcon:after {
  right: 10px;
}
ul.gallery {
  font-size: 0;
}
ul.gallery .gallery-item {
  margin-bottom: 30px;
  font-size: 16px;
}
@media (max-width: 767px) {
  ul.gallery .gallery-item {
    width: 100%;
    text-align: center;
  }
}
ul.gallery .gap {
  display: inline-block;
}
ul.gallery .gap:before {
  display: none;
}
ul.gallery .gallery-list {
  margin: 0 0 15px;
}
ul.gallery .gallery-list .galleryZoom {
  display: none;
}
.filters b,
.sorting b,
.layout-mode b {
  display: block;
  margin: 0 0 15px;
}
.layout-mode {
  float: right;
}
ul#filters {
  margin: 0 0 15px;
}
ul#filters li {
  display: inline-block;
  vertical-align: top;
}
ul#filters li a {
  cursor: pointer;
}
.sorting {
  text-align: center;
}
.sorting ul#sort {
  display: inline-block;
  margin-bottom: 24px;
}
.sorting ul#sort li {
  margin: 0 8px 16px;
}
.sorting ul#sort li a {
  cursor: pointer;
}
.sorting ul#sort li a:after {
  font-family: 'FontAwesome';
  margin-left: 7px;
}
.sorting ul#sort li a[data-order=asc]:after {
  content: '\f107';
}
.sorting ul#sort li a[data-order=desc]:after {
  content: '\f106';
}
ul#order {
  float: right;
  position: relative;
  z-index: 2;
}
ul#grid-list {
  margin: 0 0 15px;
}
ul#grid-list li {
  display: inline-block;
}
.gallery-grid .item_img {
  margin-right: 0;
}
.page-gallery_img {
  margin-left: 0;
}
/*======================= Portfolio Project Page ========================*/
.item_img .BWfade {
  display: none !important;
}
.item_img .articleGalleryZoom:after,
.item_img .galleryZoomIcon:after {
  position: absolute;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.item_img .articleGalleryZoom:after,
.item_img .galleryZoomIcon:after {
  bottom: 18px;
  right: 20px;
  color: white;
  content: '\f00e';
  font-family: 'FontAwesome';
  font-size: 18px;
  line-height: 18px;
}
.item_img .articleGalleryZoom:hover:after,
.item_img .galleryZoomIcon:hover:after {
  color: rgba(255, 255, 255, 0.5);
}
.img-full__left.span5 {
  padding-left: 0;
}
.view-article #prevArrow,
.view-article #nextArrow {
  display: none;
}
@media (max-width: 767px) {
  ul.gallery .gallery-grid .item_img img {
    width: 100%;
  }
}
@media (max-width: 639px) {
  .gallery li.gallery_desc {
    display: none;
  }
}
