@import url('https://fonts.googleapis.com/css?family=Lato|Lora&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Lato', sans-serif; */

.app-main__outer{
  padding-left: 0!important;
  margin-top: 10px;
}
h1{
  font-size: 2.5em;
  color: #000;
}
.line{
  background-color: #000;
  height: 5px;
  border: 1px solid red;
}
.home.main-card{
  padding-top: 80px;
  min-height: 85vh;
}
.app-header__logo {
  width: 150px!important;
}
.action-boutons{
  margin-left: 20px;
}
.action-boutons button{
  width: 150px;
}
.appelAction{
  margin-top: 30px!important;
}
