.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel.mod_owl_carousel__video .owl-dots {
  padding-right: 36%;
}
.owl-carousel.testimonials .item_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.owl-carousel.testimonials .item_title:before {
  content: '-';
  margin-right: 6px;
}
.owl-carousel.testimonials .owl-dots {
  margin-bottom: 14px;
  margin-top: 0;
  text-align: right;
}
.owl-carousel.testimonials .owl-dots .owl-dot {
  background: #9b9b9b;
  border: none;
  height: 8px;
  margin: 0 0 0 6px;
  vertical-align: top;
  width: 8px;
}
.owl-carousel.testimonials .owl-dots .owl-dot:hover,
.owl-carousel.testimonials .owl-dots .owl-dot:focus {
  background: #43cbcb;
}
.owl-carousel.testimonials .owl-dots .owl-dot.active {
  background: #43cbcb;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  width: 100%;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  font: 400 40px/80px 'FontAwesome';
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:before {
  content: '\f144';
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-nav.disabled {
  display: none;
}
.owl-nav.disabled:before,
.owl-nav.disabled:after {
  display: none;
}
.custom-pagination .owl-prev,
.custom-pagination .owl-next {
  background: transparent;
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font: 400 28px/43px 'Material Design';
  height: 45px;
  position: absolute;
  text-align: center;
  top: 0%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 45px;
}
.custom-pagination .owl-prev:hover,
.custom-pagination .owl-next:hover {
  background: transparent;
  border-color: white;
  color: white;
}
.custom-pagination .owl-prev {
  left: 0;
}
.custom-pagination .owl-prev:before {
  content: '\e0c7';
}
.custom-pagination .owl-next {
  right: 0;
}
.custom-pagination .owl-next:before {
  content: '\e11d';
}
.owl-prev,
.owl-next {
  background: white;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #434345;
  cursor: pointer;
  font: 400 18px/22px 'Material Design';
  height: 24px;
  position: absolute;
  text-align: center;
  bottom: 0%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 24px;
}
.owl-prev:hover,
.owl-next:hover {
  background: #303030;
  border-color: #303030;
  color: white;
}
.owl-prev {
  right: 34px;
}
.owl-prev:before {
  content: '\e0c3';
}
.owl-next {
  right: 0;
}
.owl-next:before {
  content: '\e0c2';
}
.owl-dots {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 18px;
}
.owl-dots.disabled {
  display: none;
}
.owl-dot {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  position: relative;
  margin: 0 5px;
  width: 14px;
  height: 14px;
  outline: none;
  cursor: pointer;
  background: #d9d9d9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.custom-indent {
  padding: 0 30%;
}
.custom-indent .owl-item {
  padding: 25px 0;
  cursor: pointer;
}
.custom-indent .owl-item .owl-item_content .item_img {
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  max-width: 100%;
}
.custom-indent .owl-item .owl-item_content .item_img img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.custom-indent .owl-item.center .owl-item_content .item_img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.custom-indent .owl-item_content .item_img {
  margin-bottom: 12px;
}
@media (max-width: 1199px) {
  .custom-indent {
    padding: 0 28%;
  }
}
@media (max-width: 767px) {
  .custom-indent {
    padding: 0 15%;
  }
}
@media (max-width: 479px) {
  .custom-indent {
    padding: 0 10%;
  }
}
.custom-pagination .owl-item_content {
  padding: 0 30px;
}
.custom-pagination .owl-item_content .item_title {
  font-family: 'Yesteryear', cursive;
  font-size: 30px;
  margin-bottom: 9px;
  padding-top: 20px;
}
.custom-pagination .owl-item_content .figcaption,
.custom-pagination .owl-item_content figcaption {
  color: #43cbcb;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.partners .owl-item_content .item_img a img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.partners .owl-item_content .item_img a:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
