@charset "UTF-8";
/** 3.21 RD Event Calendar */
.rd-calendar {
  position: relative;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
}

.rdc-today_month, .rdc-fullyear {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.rdc-panel {
  position: relative;
  padding: 18px 30px;
  text-align: center;
  background: #42b574;
}

.rdc-next, .rdc-prev, .rdc-events_close {
  font: 400 24px/38px "Material Design Icons";
  cursor: pointer;
  transition: .3s all ease;
  opacity: .8;
}
.rdc-next:hover, .rdc-prev:hover, .rdc-events_close:hover {
  opacity: 1;
}

.rdc-next, .rdc-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.rdc-next {
  right: 13px;
}
.rdc-next:before {
  content: "";
}

.rdc-prev {
  left: 13px;
}
.rdc-prev:before {
  content: "";
}
.rdc-events_close {
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 18px;
  line-height: 20px;
}
.rdc-events_close:before {
  content: "";
}
.rdc-events {
  position: fixed;
  top: 40px;
  right: 15px;
  left: 15px;
  padding: 20px;
  transition: .3s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
}
.rdc-events > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.rdc-events > ul > li + li {
  
}
.rd-calendar.show-events .rdc-events {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}
.rdc-event {
  display: none;
}
.rdc-event.active {
  display: block;
}
.rdc-event.active + .rdc-event.active,
.rdc-event.active ~ .rdc-event.active {
  border-top: 1px solid #f2f2f2;
  padding-top: 5px;
}
.rdc-table {
  position: relative;
  width: 100%;
}
.rdc-table table {
  border-spacing: 10px;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
}
.rdc-table td {
  position: relative;
}
.rdc-table_day {
  padding: 5px 0;
  font-size: 13px;
  text-align: center;
  color: #9b9b9b;
}
.rdc-month {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.rdc-table_events,
.rdc-table_events-count {
  display: none;
}
.rdc-table_date {
  transition: .3s;
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #434345;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
}
.rdc-table_today {
  background-color: #42b574;
  color: #fff;
}
.rdc-table_has-events {
  cursor: pointer;
  transition: .3s all ease;
}
.rdc-table_has-events .rdc-table_date:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 4px;
  line-height: 4px;
  border-radius: 50%;
  background: #55bbeb;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  z-index: -1;
}
.rdc-table_has-events .rdc-table_date:hover {
  color: #fff;
}
.rdc-table_has-events .rdc-table_date:hover:after {
  width: 100%;
  height: 100%;
  margin-left: -12px;
}
.rdc-table_has-events .rdc-table_date .rdc-table_today {
  background: #55bbeb;
}
.rdc-table_event {
  display: none;
}
.rdc-table_event:hover {
  color: #fff;
  background-color: #55bbeb;
}
.rdc-events .rdc-event-wrap {
  background: transparent;
}
.rdc-events .rdc-event-wrap .post-title h6 {
  color: #434345;
}
.rd-calendar-fullwidth .rd-calendar .rdc-panel {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}
.rd-calendar-fullwidth .rd-calendar .rdc-events {
  max-height: 90%;
  overflow-y: auto;
}
@media (min-width: 1200px) {
  .rd-calendar-fullwidth .rd-calendar {
    background: transparent;
    max-width: none;
    box-shadow: none;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-month, .rd-calendar-fullwidth .rd-calendar .rdc-fullyear, .rd-calendar-fullwidth .rd-calendar .rdc-next, .rd-calendar-fullwidth .rd-calendar .rdc-prev {
    color: #434345;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-panel {
    background: transparent;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table table {
    width: 100%;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table td {
    border-radius: 5px;
    padding-bottom: 9%;
    background: #fff;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_day {
    color: #9b9b9b;
    font-size: 22px;
    padding-left: 15px;
    text-align: left;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_today {
    border-radius: 50%;
    border: 2px solid #434345;
    background-color: transparent;
    color: #434345;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_date {
    font-size: 22px;
    height: 40px;
    left: 10px;
    line-height: 40px;
    top: 10px;
    width: 40px;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_events,
  .rd-calendar-fullwidth .rd-calendar .rdc-table_event {
    display: block;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-events {
    max-width: 320px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-events_close {
    top: 3px;
    right: 1px;
  }
  .rd-calendar-fullwidth .rd-calendar .widget-event {
    padding: 0px;
    text-align: left;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-table_today {
    border-color: #fff;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .widget-event {
    bottom: 10px;
    position: absolute;
    left: 15px;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .widget-event .post-title h6 {
    font-size: 16px;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .widget-event .post-title h6 a:hover {
    color: #fff;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .widget-event time,
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .widget-event .icon {
    color: #fff;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-table_date {
    color: #fff;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-table_date:after {
    display: none;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events:hover {
    box-shadow: none;
  }
}

@media (min-width: 1800px) {
  .rd-calendar-fullwidth .rd-calendar .rdc-table table {
    border-spacing: 20px;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table td {
    padding-bottom: 7%;
  }
  .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .widget-event {
    bottom: 20px;
    left: 20px;
  }
}

@media (min-width: 1200px) {
  .ie-11 .rd-calendar-fullwidth .rd-calendar .rdc-table td,
  .ie-10 .rd-calendar-fullwidth .rd-calendar .rdc-table td,
  .ie-edge .rd-calendar-fullwidth .rd-calendar .rdc-table td {
    height: 145px;
  }
  .ie-11 .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap,
  .ie-10 .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap,
  .ie-edge .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap {
    height: 146px;
  }
}

@media (min-width: 1800px) {
  .ie-11 .rd-calendar-fullwidth .rd-calendar .rdc-table td,
  .ie-10 .rd-calendar-fullwidth .rd-calendar .rdc-table td,
  .ie-edge .rd-calendar-fullwidth .rd-calendar .rdc-table td {
    height: 163px;
  }
  .ie-11 .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap,
  .ie-10 .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap,
  .ie-edge .rd-calendar-fullwidth .rd-calendar .rdc-table_has-events .rdc-event-wrap {
    height: 164px;
  }
}