html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body{
  overflow: hidden;
}
/* lien de navigation */
a:hover{
  text-decoration: none;
  color: initial;
}

ul {
  list-style-type: none;
}

nav ul:first-child {
  position: fixed;
  top: 40%;
  left: -20px;
}

nav ul:first-child li {
  margin-top: 10px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  font-size: 1.2rem
}

nav ul:first-child li:hover {
  width: 200px;
}

nav ul:last-child {
  position: fixed;
  right: 20px;
  top: 20px;
}

nav ul:last-child li {
  display: inline-block;
}
/* liens de navigation */
nav ul:first-child li a {
  width: 200px;
}
nav ul:first-child li a i {
  width: 25px;
  display: inline-block;
}
/* description des liens */
nav ul li a, nav ul li span {
  display: inline-block;
  color: initial;
}
/* liens reseaux sociaux */
nav ul:last-child a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
/* fin des liens de navigation */
/*  peid de page*/
footer{
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
/* fin du pied de page */
main{
  overflow-x: hidden;
  max-width:1370px;
  background-color: red;
  z-index: -1;
}
div.container{
  width: 6900px;
  background-color: gold;
  position: absolute;
  z-index:-2;
}
.container>section{
  height:9em;
  width: 1370px;
  height: 670px;
  padding-right: 10px;
}
#acceuil{
  background-color: green;
}
#competences{
  background-color: pink;
}
#process{
  background-color: red;
}
#portfolio{
  background-color: violet;
}
#contact{
  background-color: yellow;
}
