
@font-face {
    font-family: 'spartan';
    src:url('assets/font/spartan-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
a{
  text-decoration: none;
  color: white;
}
.color-green{color: #00A14C;}
.color-yellow{color: yellow;}
.bg-green{background-color:#00A14C;}
.relative{position: relative;}
.inline-block{display: inline-block;}
body{
  color: white;
  margin: 0;
  padding: 0;
}
.clearfix{
  overflow: auto;
}
li+li{
  margin-left: 10px;
  border-left: 2px solid yellow;
  padding-left: 5px;
}
/*fin de reglages basiques*/
/* tete de page */
header{
  background-color:#00A14C ;
}
header nav{
  text-align: right;
}
.bloclogo{
  position: absolute;
  width: 90px;
  height: 70px;
  border-radius: 0 55px 55px 0;
  background-color: white;
  padding-left: 5px;
  line-height: 70px;
}
.logo{
  font-size: 3em;
  font-family: 'spartan'
}
/* fin de tete de page */
/* corps de la page */
section{
  height: 600px;
  background: url('assets/img/gabforet.jpg') no-repeat;
  background-size: cover;
}
.fondnoir{
  background-color: rgba(0, 0, 0,0.1);
  height:100%;
}
/* fin de corps de la page */
footer{
  background-color:#00A14C;
  padding-left: 100px;
  padding-right: 100px;
}
footer div > div{
  width: 48%;
  display: inline-block;
}
.pied-r{
  text-align: right;
}
