
@font-face {
    font-family: 'spartan';
    src:url('assets/font/spartan-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{padding:0;margin:0;max-width:1500px; margin-left:auto;margin-right:auto;}
a{text-decoration: none;color: white;}
.color-green{color: #00A14C;}
.color-yellow{color: yellow;}
.bg-green{background-color:#00A14C;}
.inline-block{display: inline-block;}
body{color: white; font-family: 'Nunito'; font-weight: bold;}
li{border-left: 2px solid yellow;padding-left: 10px;padding-right:2px;min-height:1.5em;max-height:50px;line-height:1.5;}
li:hover{border-bottom: 2px solid yellow;}

/*fin de reglages basiques*/
/* tete de page */
header{
  text-align: right;
  background-color:#00A14C ;
  padding-right: 100px;
  min-height: 60px;
  max-height:70px;
  line-height:60px;
  border-radius:3px;
  border-bottom: 3px solid yellow;
}
header div a{color:#00A14C;}
header div a:hover{color:white;}
header div{
  position:fixed;
  width: 80px;
  height: 60px;
  border-radius: 5px 40px 40px 5px;
  padding-right:7px;
  background-color: white;
  line-height: 55px;
  font-size: 3em;
  font-family: 'spartan';
}
header div:hover{
  background-color:#00A14C;
  font-size: 3.1em;
  font-family: 'spartan'
  color:white;
}
header  nav form select{
  border-radius: 5px;
  background: rgba(73,155,234,1);
  border: none;
  height: 25px;
  width: 40px;
  color: white;
}
/* fin de tete de page */
/* corps de la page */
section{
  min-height:500px;
  max-height: 900px;
  padding-top:200px;
  background: url('assets/img/Plage1.jpg') no-repeat;
  background-size: cover;
}
.fond{
  width:40em;
  text-align:center;
    padding-left:90px;
  border-radius:50px;
  background: linear-gradient(45deg, rgba(226,226,226,0.8) 0%,rgba(219,219,219,0.8) 50%,rgba(209,209,209,0.8) 51%,rgba(254,254,254,0.8) 100%);
}
section form{
  height:300px;
  display:table-cell;
  vertical-align:middle;
}
section form h1{
  margin-bottom: 20px;
  border-bottom:2px solid yellow;
  display: inline-block;
  color: initial;
}
section form input[type="text"]{
  width: 400px;
  height:40px;
  border:1px double green;
  border-radius:30px;
  font-size:1.5em;
  text-align: center;
}
section form input::placeholder{color: #00A14c;}
section form span{color: #00a14c;font-size: 1.5em;}
section form input[type="submit"]{
  width:80px;
  height:30px;
  background: rgba(73,155,234,1);
  border-radius: 5px;
  border-style: double;
  margin-left: 5px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
/* fin de corps de la page */
/* pied de page */
footer{
  background-color:#00A14C;
  padding-left: 100px;
  padding-right: 100px;
  min-height:50px;
  line-height:50px;
  border-top: 3px solid yellow;
}
footer ul{
  width: 48%;
  display: inline-block;
}
.pied-r{
  text-align: right;
}
