/* reglages de base */
*{box-sizing: border-box;padding: 0;margin: 0;}
.relative{
  position: relative;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.inline-b{
  display: inline-block;
}
li{list-style-type: none;}
a{text-decoration: none;color: initial}
div.button{border: 1px solid; text-align:center; height: 40px;line-height: 40px;width:180px;border-radius: 20px;}
/* fin des reglages */
/* tete de page */
header{
  background-color: #ff6e00;
  color: white;
  height:650px;
}
header nav{
  max-width:1150px;
  max-height:130px;
  background-color: yellow;
  text-align: center;
}
/* liens */
header nav .logo{
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 8px;
  box-shadow: 0 0 10px 1px black;
  background-color: white;
}
/* liens masqués */
nav > ul > li{
  display: inline-block;
  border: 1px solid red;
}
nav > ul > li+li{
  margin-left: 60px;
}
.hide{
  display: none;
}
.hlink:hover .hide{
  display: block;
  position: absolute;
}

/* fin des liens hide */
