
/* reglade generaux */
*{box-sizing: border-box;  padding:0;margin: 0;font-family:sans-serif; }
li{list-style-type: none;}
a{text-decoration: none;color: initial;}
.hide{display: none;}
.center{margin-left: auto;margin-right: auto;}
.relative{position: relative;}
/* fin */
/* tete de page */
header{
  position: relative;
  height: 600px;
  background-color: #ff6e00;
  color: white;
}
header nav {
  max-width: 70em;
  text-align: center;
  height: 150px;
}
/* logo du header */
header nav div {
 background-color: white;
 width: 130px;
 height: 130px;
 text-align: center;
 padding: 10px;
 box-shadow: 0 0 10px 1px #494747;
 display: inline-block;
}
/* liens de navigation */
header nav>ul {
  width: 40%;
  font-size: 1.2em;
  position: absolute;
  bottom:50%;
}
header nav>ul:first-child{
  left: 0;
}
header nav>ul:last-child{
  right: 1.5em;
}
header nav>ul li{
  display: inline-block;
}
header nav>ul li+li{
  margin-left: 2em;
}
header nav>ul>li a{
  color: white;
  display: block;
  height: 40px;
  line-height: 40px;
}
header nav>ul li a:hover{
  border-bottom: 2px solid white;
}
header nav>ul li:hover ul{
  display: block;
  position: absolute;
}
/* fin des liens de navigations */
/* liens externes */
header nav+div{
  border: 1px solid green;
  position: absolute;
  right: 0;
  top: 0;
}
header nav+div li:first-child{
  position: relative;
  height: 50px;
}
header nav+div li:nth-child(n+2){
  display: none;
  position: relative;
  right:-290px;
  transition-property: right;
}
/* icone */
header nav+div li:first-child a{
  height: 50px;
  padding: 10px;
  font-size: 1.5em;
  position: absolute;
  right: 0;
}
/* icone */
header nav+div li:nth-child(n+2) a{
  display: block;
  line-height: 50%;
  width: 290px;
  font-size: 1.5em;
  padding: 15px;
  background-color: #0c0c0c;
  color: white;
}
header nav+div li:nth-child(n+2){
  border-top:2px solid black;
}
header nav+div li:nth-child(2){
  border-top:none
}
header nav+div li:nth-child(3){

}
header nav+div li:nth-child(4){

}
header nav+div li:nth-child(5){

}

header nav+div:hover li:nth-child(n+2){
  display: block;
  position: relative;
  right:0;
}

/* fin des liens externes */
